<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">


  <%  newListItems.forEach(function(item){ %>

    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
        <p><%=item.name%></p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    </form>
  <%  }) %>


      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

  <div class=box>
    <ul>
      <li><a href="/">Today</a></li>
    </ul>
      <% listsList.forEach(function(list){%>
        <form action="/deleteList" method="POST" >
          <div class="item">
            <input type="checkbox" name="check" value="<%= list.name%>" onChange="this.form.submit()">
            <a href="/<%= list.name%>"><%= list.name%></a>
          </div>
        </form>
      <%})%>

    <form class="item" action="/newList" method="POST">
      <input type="text" name="newListName" placeholder="Enter The new List Name you want to create" autocomplete="off">
      <button type="submit">+</button>
    </form>
    
  </div>

<%- include("footer") -%>
